<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeleniumNodeRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SeleniumNodeRunner.Properties.Settings>
            <setting name="ChromeDriver" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="SeleniumJar" serializeAs="String">
                <value />
            </setting>
            <setting name="HubAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="RunAsHub" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRun" serializeAs="String">
                <value>False</value>
            </setting>
        </SeleniumNodeRunner.Properties.Settings>
    </userSettings>
</configuration>